/* Counter Widgets
================ */
.countersWrapper {
    width: 100%;
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: space-between;
    gap: var(--dwc-space-m);
    overflow: visible !important;
  }
  
  /** [animated-counter] is the container of the animated-counter component */
  .countersWrapper [animated-counter] {
    flex: 1 1 24%;
  }
  
  /* Charts Widgets
  ================ */
  google-chart {
    width: 100%;
  }
  
  .chartsWrapper {
    width: 100%;
    display: flex;
    /* flex-wrap: wrap; */
    gap: var(--dwc-space-m);
    overflow: visible !important;
  }
  
  .chartsWrapper__chart {
    flex: 1 1 48%;
    min-width: 320px;
  }
  
  /* Product Table
  ================ */
  .table::part(avatar-renderer) {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .table::part(avatar-img) {
    height: 32px;
    width: 32px;
    border-radius: 50%;
  }
  
  .table::part(avatar-text) {
    display: flex;
    flex-direction: column;
  }
  
  /* Apps Widgets
  ================ */
  .appsWrapper {
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(400px, 1fr)); */
    grid-template-columns: 1fr 1fr;
    gap: var(--dwc-space-m);
    overflow: visible !important;
  }
  
  /* Todo Widget
  ================ */
  .card--todo {
    max-height: 450px;
    margin-bottom: 35px;
  }
  
  .todo__toolbar {
    display: flex;
    align-items: center;
    gap: var(--dwc-space-s);
    overflow: visible !important;
    border-bottom: 1px solid var(--dwc-color-default) !important;
    padding-bottom: var(--dwc-space-m);
  }
  
  .todo__remainingItems {
    flex: 1;
  }
  
  .todo__inputWrapper {
    display: flex;
    align-items: center;
    gap: var(--dwc-space-s);
    overflow: visible !important;
  }
  
  .todo__input {
    flex: 1 1 100%;
  }
  
  .todo__list {
    display: flex;
    flex-direction: column;
    gap: var(--dwc-space-s);
    flex: 1;
    max-height: 262px;
    overflow: auto !important;
  }
  
  .todo__item[checked] {
    text-decoration: line-through;
  }
  
  /* Inbox Widget
  ================ */
  .card--inbox {
    max-height: 450px;
    margin-bottom: 35px;
  }
  
  .card__messagesWrapper {
    overflow: auto !important;
  }
  
  .card__message {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: var(--dwc-space-s);
    cursor: var(--dwc-cursor-click);
    transition: background-color var(--dwc-transition);
    border-bottom: thin solid var(--dwc-color-default);
    /* border-style: solid !important; */
    border-radius: var(--dwc-border-radius);
  }
  
  .card__message:last-child {
    border-bottom: none !important;
    border-style: none !important;
  }
  
  .card__message:hover {
    background-color: var(--dwc-color-primary-alt);
  }
  
  .card__messageAvatar {
    display: flex;
    align-items: center;
    width: var(--dwc-size-l);
    height: var(--dwc-size-l);
    border-radius: var(--dwc-border-radius-round);
  }
  
  .card__messageAvatar img {
    width: 100%;
    height: 100%;
    border-radius: var(--dwc-border-radius-round);
  }
  
  .card__messageWrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  .card__messageContent {
    font-size: var(--dwc-font-size-s);
    color: var(--dwc-color-gray-text);
  }
  
  .dialog--reply .dialog__content {
    display: flex;
    flex-direction: column;
    gap: var(--dwc-space-m);
  }

  .dialog--reply::part(dialog) {
    padding-bottom: 3px;
  }
  
  .dialog__message::part(input) {
    overflow: visible;
  }

  .button__reply {
    background: rgba(0,0,0,0);
    margin-bottom: 12px;
  }

  .button__reply::part(control) {
    padding: 20px;
    /* margin: var(--dwc-space-m); */
  }
  
  /* TeamCard Widget
  ================ */
  
  .teamcard--wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: var(--dwc-space-m);
  }
  
  .team--card {
    background-color: var(--dwc-surface-3);
    border-radius: var(--dwc-border-radius-m);
    padding: var(--dwc-space-2xl) var(--dwc-space-xl);
    display: flex;
    flex: 1 1 40%;
    gap: 1.5rem;
    align-items: center;
    flex-direction: row;
    transition: background-color 0.25s ease;
  }
  
  .team--card.is-active {
    background-color: #7db1ff;
  }
  
  .team--card:hover {
    background-color: #abccfd;
    cursor: pointer;
  }
  
  .team--avatar {
    width: var(--dwc-size-2xl);
    border-radius: var(--dwc-border-radius-round);
  }
  
  .team--username {
    color: var(--dwc-color-black);
    font-size: var(--dwc-font-size-l);
  }
  
  .team--position {
    color: var(--dwc-color-gray-50);
  }

  .card {
    display: flex;
    flex-direction: column;
    gap: var(--dwc-space-m);
    padding: var(--dwc-space-m);
    border-radius: var(--dwc-border-radius-m);
    background-color: var(--dwc-surface-3);
    box-shadow: var(--dwc-shadow-1);
  }

  .page {
    display: flex;
    flex-direction: column;
    gap: var(--dwc-space-m);
    margin: 0 auto;
    height: auto !important;
    overflow: visible !important;
    max-width: 1200px;
  }

  .card__header {
    display: flex;
    flex-direction: column;
    gap: var(--dwc-space-m);
    font-size: var(--dwc-font-size-l);
    font-weight: bold;
  }

